[
    {rabbitmq_delayed_message_exchange, [                     
        %% {storage_backend, rabbit_delayed_message_storage_disk},
        {storage_backend, rabbit_delayed_message_storage_ddb},
        {storage_config, #{                                   
            table_name => <<"rabbitmq_delayed_messages">>     
        }}                                                    
    ]}
].
